@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OryxCore</title>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
    <header>
        <nav class="purple darken-4">
            <div class="nav-wrapper fixed">
                <a href="#" class="brand-logo">OryxAfrica</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down purple-text darken-4">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">HOME</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About" class="navbar-brand">ABOUT US</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Partner" class="navbar-brand">PARTNERS</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Solution" class="navbar-brand">SOLUTIONS</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Client" class="navbar-brand">CLIENTS</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Support" class="navbar-brand">SUPPORT</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Career" class="navbar-brand">CAREER</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Gallery" class="navbar-brand">GALLERY</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact" class="navbar-brand">CONTACT US</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
            <a class="btn waves-effect white grey-text darken-text-2">button</a>
        </div>
        <div class="carousel-item red white-text" href="#one!">
            <h2>First Panel</h2>
            <p class="white-text">This is your first panel</p>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
            <h2>Second Panel</h2>
            <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
            <h2>Third Panel</h2>
            <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
            <h2>Fourth Panel</h2>
            <p class="white-text">This is your fourth panel</p>
        </div>
    </div>

    <div class="row blue-grey lighten-2">

        <div class="col l3 s12">
            <p><h4 class="center-align">INNOVATION SOLUTION</h4></p>
            <p>
                Capital isn't so important in business, Experience isn't so important either. What is important is Ideas. You can get both these things. And we can do this at Oryx.
            </p>
        </div>
        <div class="col l3 s12">
            <p><h4 class="center-align">INNOVATION SOLUTION</h4></p>
            <p>
                Capital isn't so important in business, Experience isn't so important either. What is important is Ideas. You can get both these things. And we can do this at Oryx.
            </p>
        </div>
        <div class="col l3 s12">
            <p><h4 class="center-align">INNOVATION SOLUTION</h4></p>
            <p>
                Capital isn't so important in business, Experience isn't so important either. What is important is Ideas. You can get both these things. And we can do this at Oryx.
            </p>
        </div>
        <div class="col l3 s12">
            <p><h4 class="center-align">INNOVATION SOLUTION</h4></p>
            <p>
                Capital isn't so important in business, Experience isn't so important either. What is important is Ideas. You can get both these things. And we can do this at Oryx.
            </p>
        </div>


    </div>

    @RenderBody()
    <hr />


    <footer class="page-footer purple darken-4">
        <h1 class="centered center-align white deep-purple">REACH US</h1>
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"></h5>

                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contact Information</h5>

                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contact Information</h5>

                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center-align white deep-purple">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript">
        //carousel slide js code
        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true
        });




    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
