@{
    ViewData["Title"] = "Home Page";
}


@*section of the home page*@
<div class="divider"></div>
<div class="section">
    <h5 class="center-align  purple">Who We Are</h5>
    <p></p>
</div>
<div class="divider"></div>
    @*html for row in the home page*@
<div class="row">

    <div class="col s4">
        Oryx West Africa is a business consultancy firm. Oryx started as a joint venture in the 
        year 2004 with a local software company called Soft Solution Nigeria Limited and Oryx UK. 
        We started with the sale and implementation of an accounting solution- SSL accounts and 
        later brought SAP Business One to Africa. The first implementation was at GMT Nigeria Limited.
        Since inception in 2004, Oryx has earned the loyalty of her customers and the respect of her peers.
        Having the highest number of successful Business Management solutions deployment for SMEs,
        she has distinguished herself as a highly skilled business solutions consultant, 
        using the power of information technology to drive businesses to seamless process integration
        and increased productivity.
    </div>
    <div class="col s4">
        We serve growing companies across the West African states. Our client base of over 100 companies
        and counting in our twelve years of business is testimony to our commitment to help businesses 
        succeed. Our passion is the 360 turnaround of businesses to profitability using world-class 
        business solutions incorporated with best practice.
    </div>
    <div class="col s4">
       
    </div>

</div>